* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--primary-color: #313639;
}

#root {
	background-color: #f0f0f0;
	color: #313639;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
}

.container-div {
	background-color: #f0f0f0;
	box-shadow: 0 0 8px rgb(0, 0, 0, 0.5);
	border-radius: 6px;
	width: 75%;
	padding: 16px;
	align-self: center;
}
.main-div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.search-div {
	border-bottom: 1px solid var(--primary-color);
}

.input {
	padding: 8px;
	border: 1px solid #313639;
	border-radius: 6px;
	width: 100%;
	background: transparent;
	color: #313639;
}

.input:focus {
	outline: none;
	border: 1px solid #ac1e44;
}

.custom-btn {
	width: 100%;
	border: none;
	background-color: #ac1e44;
	padding: 8px 16px;
	color: #c0c0c0;
	border-radius: 6px;
	cursor: pointer;
}

.btn:hover {
	color: #ffffff;
	transition: 0.5s;
}

.radio-view {
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 16px;
}

.mt-8 {
	margin-top: 8px;
}

label {
	margin-left: 8px;
}

.avatar {
	width: 50px;
	height: auto;
	border-radius: 50%;
	border: 1px solid #f0f0f0;
}

.result {
	background-color: #f0f0f0;
	border-radius: 6px;
	padding: 16px;
	box-shadow: 0 0 8px rgb(0, 0, 0, 0.5);
}